{% extends "base-template.html.twig" %}

{% block content %}

<div class="row jumbotron artist hidden-sm hidden-xs">
    <img src="{{artistInfo.images.2.url}}" />
    <h1>{{artistInfo.name}}</h1>
</div>

<h1 class="hidden-md hidden-lg">{{artistInfo.name}}</h1>

    <h4>Top Tracks</h4>
    <ul class="list-group">
    {% for track in topTracks.tracks %}
        <li class="list-group-item track">
            <img src="{{track.album.images.2.url}}" class="hidden-sm hidden-xs" />
            <strong class="title">{{track.name}}</strong>
            <a href="/queue/add?type=spotify&id={{ track.id }}" data-id="{{ track.id }}" title="Add to queue" data-type="spotify" class="add-to-queue"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </li>
    {% endfor %}
    </ul>

    <h4>Albums</h4>
    {% for album in albums.items %}
    <div class="album">
        <header class="title">
            <img src="{{album.images.2.url}}" />
            <h2>{{album.name}}</h2>
        </header>
        <ul class="list-group">
        {% for track in album.tracks.items %}
            <li class="list-group-item track">
                <strong class="title">{{track.name}}</strong>
                {% for trackArtist in track.artists %}
                {% if trackArtist.id != artistInfo.id %}
                <span class="track-artist"><a href="/artist/{{trackArtist.id}}/">{{trackArtist.name}}</a></span>
                {% endif %}
                {% endfor %}
                <a href="/queue/add?type=spotify&id={{track.id}}" data-id="{{track.id}}" title="Add to queue" data-type="spotify" class="add-to-queue btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-sm hidden-xs"> Add to queue</span></a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}

{% endblock %}