{% extends "base-template.html.twig" %}

{% block content %}


    <!-- <a href="/" class="btn btn-default">Back</a> -->
    
    <!-- <h1>Tracks</h1> -->
    {#<ul>
    {% for track in tracks %}
        <li><h2>{{track.name}}</h2><h4>{{track.artists.0.name}}</h4><img src="{{track.album.images.1.url}}" /><br /><a href="/queue/add?type=spotify&id={{ track.id }}" data-id="{{ track.id }}" data-type="spotify" class="add-to-queue">Add to queue</a></li>
    {% endfor %}
    </ul>#}

    {#<h1>Albums</h1>
    {% for album in albums %}
        <li><a href="/add-spotify-track/{{ album.id }}">{{album.name}}</a><img src="{{album.images.1.url}}" /></li>
    {% endfor %}#}

    <!-- <h1>Artists</h1> -->
    {#<ul>#}
    <div class="row">
    {% for artist in artists %}
        <div class="col-xs-6 col-md-3">
                <a href="/artist/{{artist.id}}/" class="thumbnail">
            {% if artist.images is not empty %}
                    <img src="{{artist.images.1.url}}" alt="{{artist.name}}">
            {% else %}
                    <img src="/assets/img/no_image_available.svg">
            {% endif %}
                    <div class="caption"><h3>{{artist.name}}</h3></div>
                </a>
        {#<li>
            <a href="/artist/{{artist.id}}/">{{artist.name}}</a>
            {% if artist.images is not empty %}
            <img src="{{artist.images.0.url}}" />
            {% endif %}
        </li>#}
        </div>
    {% endfor %}
    </div>
    {#</ul>#}


{% endblock %}